<script lang="ts">
	import { onMount } from 'svelte';
	import { chorotest } from '$lib/utils/d3/chorotest';

	let loading = true;

	onMount(async () => {
		try {
			// // Municipios SP
			// await chorotest('#mapa_sp', 'geojson_sp/SP_Municipios_2022.json', {
			// 	valueKey: 'AREA_KM',
			// 	propertyFilter: { key: 'CD_MUN', value: '3550308' },
			// 	domain: [0, 1000],
			// });
			
			// // Setores SP
			await chorotest('#mapa_sp', 'geojson_sp/SP_Setores_2021.json', {
				valueKey: 'CD_SIT',
				propertyFilter: { key: 'CD_MUN', value: '3550308' },
				domain: [0, 4],
			});
			loading = false;
		} catch (err) {
			console.error(err);
		}
	});
</script>

<h2>Mapa SP</h2>

{#if loading}
	<p>Loading...</p>
{/if}

<div id="mapa_sp" />
