<script lang="ts">
	import * as d3 from 'd3';
	import * as topojson from 'topojson-client';
	import * as shapefile from 'shapefile';
	import { onMount } from 'svelte';
	import { Choropleth } from '$lib/utils/d3/choropleth';

	async function choroplethUs() {
		const unemployment: any[] = [];
		await d3.csv('d3/unemployment-x.csv', async (data) => {
			if (!data) return;
			unemployment.push({ ...data, rate: data.rate ? +data.rate : 0 });
		});
		const us: any = await d3.json('d3/counties-albers-10m.json');
		const counties: any = topojson.feature(us, us.objects.counties);
		const states: any = topojson.feature(us, us.objects.states);
		const statemap: any = new Map(states.features.map((d: any) => [d.id, d]));
		const statemesh: any = topojson.mesh(us, us.objects.states, (a, b) => a !== b);

		console.log({unemployment, counties})

		return Choropleth(unemployment, {
			id: (d) => d.id,
			value: (d) => d.rate,
			scale: d3.scaleQuantize,
			domain: [1, 10],
			range: d3.schemeBlues[9],
			title: (f, d) =>
				`${f.properties.name}, ${statemap.get(f.id.slice(0, 2)).properties.name}\n${d?.rate}%`,
			features: counties,
			borders: statemesh,
			width: 975,
			height: 610
		});
	}

	async function readShp(shpPath: string) {
		const results = [];
		await shapefile.open(shpPath).then((source) =>
			source.read().then(function log(result) {
				if (result.done) return;
				results.push(result.value);
				return source.read().then(log);
			})
		);
		return results;
	}

	let loading = true;

	onMount(async () => {
		try {
			const chart = await choroplethUs();
			const div = document.getElementById('mapa_us');
			div.appendChild(chart);
			loading = false;
		} catch (err) {
			console.error(err);
		}
	});
</script>

<h2>Mapa US</h2>

{#if loading}
	<p>Loading...</p>
{/if}

<div id="mapa_us" />
